Fila de MSG.json
{
  "name": "Fila de MSG",
  "nodes": [
    {
      "parameters": {
        "content": "## Fila de mensagens\n```\nBuffer de mensagens, agrupando mensagens, aguardando X segundos, antes de seguir o fluxo\n```",
        "height": 688,
        "width": 1344,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -224
      ],
      "id": "16710224-4e8d-4bde-a46f-6c082c3f3778",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "payload",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -576,
        176
      ],
      "id": "ae1d67bd-d24f-4b76-84fe-813b0c3c4393",
      "name": "Payload"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.payload.from }}_messages",
        "messageData": "={{ $json.payload.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -352,
        176
      ],
      "id": "a8f7e3cf-ef70-4009-b913-54f6ac248265",
      "name": "AddToQueue",
      "credentials": {
        "redis": {
          "id": "nOaYwzCTnfItURqQ",
          "name": "Redis Odgers"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Payload').item.json.payload.from }}_messages",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -128,
        176
      ],
      "id": "c1fec0c4-9ba5-4e4c-8510-1d5417a11b7b",
      "name": "GetMessages",
      "credentials": {
        "redis": {
          "id": "nOaYwzCTnfItURqQ",
          "name": "Redis Odgers"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).date }}",
                    "rightValue": "={{ $('Payload').item.json.payload.msg.date }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "7dfa5e93-91a4-430b-bf49-b70720c048cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Do nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89d902b0-24fc-4ba1-bbff-f2396a89db46",
                    "leftValue": "={{ JSON.parse($json.messages.last()).date }}",
                    "rightValue": "={{ $now.minus(15, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Wait"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        96,
        64
      ],
      "id": "d3b99ec8-f244-4d2b-a778-6bce5b0d9730",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        272
      ],
      "id": "5689a045-a3c2-4835-ae4a-fe1d98ed0786",
      "name": "Wait",
      "webhookId": "e0f34c17-7e6e-4d18-9888-689cd3e14f54"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Payload').item.json.payload.from }}_messages"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        320,
        80
      ],
      "id": "96c07514-5b36-4333-ab91-d40a8fa24d49",
      "name": "EraseQueue",
      "credentials": {
        "redis": {
          "id": "nOaYwzCTnfItURqQ",
          "name": "Redis Odgers"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41548441-b9aa-491a-9921-c184a13631c6",
              "name": "message.text",
              "value": "={{ $json.messages.map( item => JSON.parse(item).content).join(\" \") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        80
      ],
      "id": "e67c8526-e4d9-43e6-b962-8ead09075076",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aac709aa-0864-44f9-9798-67ab28884226",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "72f72124-83e3-4618-b553-9c70ba4f037e",
              "leftValue": "={{ $json.messages }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthLte",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        320,
        -112
      ],
      "id": "c23b24cc-6040-42cd-ab96-1269fc5aaaac",
      "name": "KeepWaiting"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=8272205355_messages"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        496
      ],
      "id": "f675d798-9658-4397-877b-6376508d7541",
      "name": "RemoveQueue",
      "credentials": {
        "redis": {
          "id": "nOaYwzCTnfItURqQ",
          "name": "Redis Odgers"
        }
      }
    }
  ],
  "pinData": {
    "Payload": [
      {
        "json": {
          "payload": {
            "message_id": 4,
            "from": {
              "id": 6420001948,
              "is_bot": false,
              "first_name": "Matheus",
              "last_name": "Barriolo",
              "language_code": "pt-br"
            },
            "chat": {
              "id": 6420001948,
              "first_name": "Matheus",
              "last_name": "Barriolo",
              "type": "private"
            },
            "date": 1771801075,
            "text": "Olá"
          }
        }
      }
    ]
  },
  "connections": {
    "Payload": {
      "main": [
        [
          {
            "node": "AddToQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddToQueue": {
      "main": [
        [
          {
            "node": "GetMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMessages": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "KeepWaiting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EraseQueue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "GetMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EraseQueue": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dbdcf13b-8ce5-454f-bc97-355fecbe8cf7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69bf0c5c8f0708ea68c4c9cade5e882fabc60f561b1ee7776936ce3e94fd675b"
  },
  "id": "gIyxw1sw6UiCliTx",
  "tags": []
}