workflow-chatbot-telegram.json
{
  "name": "Aprendendo Human In the Loop",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        816
      ],
      "id": "4baf503d-b673-44a6-ad5b-36a805e74ae1",
      "name": "Telegram Trigger",
      "webhookId": "6d008304-cb3b-498e-960c-74368ee34c6e",
      "credentials": {
        "telegramApi": {
          "id": "zP3908OxXkDJKfgH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=<prompt> <role>Aja como um formatador de mensagens (UX writer + desenvolvedor) para respostas de API de clima.</role> <objective> Transformar uma resposta JSON de clima em uma mensagem curta, clara e amigável, informando a temperatura atual da cidade solicitada. </objective> <input> <data>{COLE_AQUI_O_JSON_DA_API}</data> </input> <rules> <rule>Retorne APENAS a mensagem final (sem explicações, sem markdown, sem aspas).</rule> <rule>Use a cidade e a temperatura presentes no JSON.</rule> <rule>Se não encontrar cidade ou temperatura, use uma mensagem de erro curta e educada.</rule> <rule>Formate a temperatura como número + unidade (ex: 23°C). Se a unidade não existir no JSON, assuma °C.</rule> </rules>\n<tool>Sempre chame a tool Open weather para verificar o clima</tool>\n<output_format>\n<success>Agora em {cidade}: {temperatura}.</success>\n<error>Não consegui obter a temperatura agora. Tente novamente em instantes.</error>\n</output_format>\n</prompt>\n\n\n\n## IMPORTANTE\n- SEMPRE chame a tool Tavily Search para obter insumo\n- NUNCA responda sem antes obter insumo do Tavily Search"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        816
      ],
      "id": "686127be-b2e9-49d4-9e74-5a88c5b208b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        1072
      ],
      "id": "d36c8231-ade5-49ff-ada2-f6ff820d0bce",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Z3D1HBGGvu9M3UUL",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.temperatura }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        816
      ],
      "id": "fcb0368f-7b5d-4590-98b8-939df141a1eb",
      "name": "Send a text message",
      "webhookId": "17327850-1374-4e3c-9dca-bfedd7277687",
      "credentials": {
        "telegramApi": {
          "id": "zP3908OxXkDJKfgH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um especialista em comunicação pelo whatsapp.\nSua função e formata a msg para enviar para o cliente final informando a temperatura do dia no formato do Brasil.\n\nTemperatura e localidade: {{ $json.output }}\n\nSaida deve ser só mente a msg formatada.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        688,
        816
      ],
      "id": "bdb53049-e891-445a-941e-4e326e891ab8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ffa4fd4-95a5-4ccb-a0be-5f3db75fff38",
              "name": "temperatura",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        816
      ],
      "id": "e11cf5a6-cf34-4600-8e20-ba75bc40ca75",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gIyxw1sw6UiCliTx",
          "mode": "list",
          "cachedResultUrl": "/workflow/gIyxw1sw6UiCliTx",
          "cachedResultName": "Fila de MSG"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ {\n  \"from\": $json.message.from.id,\n  \"msg\": {\n    \"date\": $now.toISO(),\n    \"content\": $json.message.text\n  }\n} }}"
          },
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        816
      ],
      "id": "e81f69fe-adbf-4dde-9ceb-99d707bf755c",
      "name": "Call 'Fila de MSG'"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. Requires `query` param",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Call \\'Fila de MSG\\'').item.json.message.text.replaceAll(' ', ',') }},BR"
            },
            {
              "name": "units",
              "value": "celsius"
            },
            {
              "name": "lang",
              "value": "pt"
            },
            {
              "name": "appid",
              "value": "04d860d6256bcbb735abf98acb0db1eb"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        480,
        1200
      ],
      "id": "454537f7-e68d-4283-ac58-a217ef39da8a",
      "name": "Open weather"
    }
  ],
  "pinData": {
    "Call 'Fila de MSG'": [
      {
        "json": {
          "message": {
            "text": "Brasília DF"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Call 'Fila de MSG'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Fila de MSG'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open weather": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e10d58f4-3382-4398-83d3-37769d23206c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69bf0c5c8f0708ea68c4c9cade5e882fabc60f561b1ee7776936ce3e94fd675b"
  },
  "id": "vabosJPsKcfliqlD",
  "tags": []
}